@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}
@font-face {
    font-family: Gotu;
    src: url('../fonts/Gotu/Gotu-Regular.ttf');
}
@font-face {
    font-family: Karla;
    src: url('../fonts/Karla/Karla-Bold.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/static/Oswald-light.ttf');
}