@import "../css_files/fonts.css";
@import "awesome-all.css";

html {
    scroll-behavior: smooth;
}

:root {
    /** -- Color Family -- */
    --bgbody1: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bgbody2: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    --text-dimgray: dimgray;
    --bg-color: darkgray;
    --midnight: midnightblue;
    --text-white: white;

    /** -- Theme font-family -- */
    --Abel: 'Abel', cursive;
    --Gotu: 'Gotu', cursive;
    --Karla: 'Karla', cursive;
}

/*----------- Start Global Class Declaration ---------*/
/*--This Class can be Use multiple times in this Css Documents--*/
a {
    text-decoration: none;
    color: black;
}

.text-gray {
    font-size: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -- wrap collapse the rows */
ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

h1 {
    font-family: var(--Abel)
    list-style-type: none;
    Display: flex;
    font-size: 25px;
    color: Black;
}

h2 {
    font-family: var(--Abel);
    Display: flex;
    font-size: 18px;
    color: Black;
}

h3 {
    font-family: var(--Gotu);
    Display: flex;
    font-size: 16px;
    color: Black;
}

h4 {
    font-family: var(--Karla);
    font-size: 14px;
    Display: flex;
    color: Black;
}

/*noinspection ALL*/
h5 {
    font-family: var(--Gotu);
    font-size: 12px;
    Display: flex;
    color: Black;
}

h6 {
    font-family: var(--Gotu);
    Display: flex;
    font-size: 10px;
    color: Black;
}

p {
    font-family: var(--Karla);
    font-size: 14px;
    color: Black;
    display: flex;
}

/*----------- End Global Class Declaration  ----------*/
body {
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-family: var(--Abel);
    font-weight: bolder;
    background: url("../images/bg/jlbanner.jpg");
}


header .navsearch {
    display: block;
    justify-content: flex-end;
    flex-direction: column;
    margin: auto;
    font-size: 15px;
    border: 15px;
}

/*----------- Start navbar ----------*/
.nav {
    background: var(--bgbody1);
    padding: 0; /*-- margin/einzug --*/
    width: 100%;
    height: 4.1vh;
    overflow: hidden; /*--hide togglebar at bigger View*/
    transition: height 0.5s ease-in-out; /*--Navmenu effect--*/
}

/* -- Begin header --*/
.nav .nav-menu {
    margin: 0;
    padding: 0 2.2rem;
    font-size: 12px;
    font-weight: bold;
}

/*Divide the Navigation into Rows*/
.nav .toggle-dropper {
    position: relative;
    width: 100%;
    cursor: pointer;
    display: none;
}

.nav .toggle-dropper .toggle-icon {
    display: flex;
    justify-content: flex-start;
}

.nav .toggle-dropper .toggle-icon i {
    font-size: 2.2rem;
    color: black;
    font-weight: bold;
}

.dropper {
    height: 15rem;
}

.nav .nav-items {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

}

.nav .nav-items .nav-link {
    Margin: 0;
    padding: 0.2rem 2rem;
    top: 2px;
    font-size: 20px;
    font-family: var(--Gotu);
}

.nav .nav-items .nav-link:hover {
    background-color: lightskyblue;

}

/* -- End Header -- */
main {
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    background: var(--bgbody1) no-repeat scroll;
    background-size: cover;
    font-family: var(--Abel);
    justify-content: space-between;
}

main .post {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*-- Site-Content--*/
main .site-content {
    padding: 0;
    margin: 1rem 2.2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: var(--Abel);
    align-items: center;
    flex-basis: 30%;
}

.img {
    opacity: 0.8;
}

.img {
    width: 420px;
    height: 300px;
}

.img:hover {
    transform: scale(1.8);
    opacity: 1.0;
    transition: all 1s ease;
}

main .post-info .flex-row {
    position: center;
    padding: 10px;
}

.postbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block {
    height: 200px;

}

.footer {
    display: flex;
    flex-direction: row;
}

.footer-nav {
    margin: auto;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.f-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.show .footer-nav:hover {
    display: block;
}

.gotopbtn {
    position: fixed;
    display: block;
    color: white;
    width: 25px;
    height: 25px;
    background-color: black;
    bottom: 10px;
    right: 12px;
    border-radius: 50%;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}

.gotopbtn:hover {
    background-color: lightskyblue;
    box-shadow: white;
}


/* -- Social Contact Icons space */
.bottom-footer i:hover {
    color: cadetblue;
}

/*-- End Header --*/
img {
    resize: both;
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*---- downloads Section */
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.dl-frame .dl-container {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    top: 70%;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: auto;
    position: center;
}

/*------na-------*/
main .gallerybox {
    display: grid;
    grid-template-columns: 30% 60%;
}

/*------na-------*/
/*------na-------*/
.hi-slide {
    position: relative;
    width: 820px;
    height: 425px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 75%;
    width: 60px;
    height: 60px;
    margin-top: -20px;
    border-radius: 50px;


    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: #fff;
}

.hi-slide .hi-prev {
    left: -90px;
}

.hi-slide .hi-prev::before {
    content: '<';
}

.hi-slide .hi-next {
    right: -90px;
}

.hi-slide .hi-next::before {
    content: '>';
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 824px;
    height: 432px;
    margin: 0;
    padding: 0;
}


.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 100px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid #fff;
    background-color: #333;
    cursor: pointer;
}

.slider {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.slider-titel {
    text-align: center;
    font-family: var(--Gotu);
}

.hi-slide > ul > li > img {
    width: 100%;
    height: 100%;
    background-position: center;
}

/*------hislider-------*/
/* -- Viewport response for Mobile -- */
@media only screen and (max-width: 750px) {
    .nav .nav-menu, .nav .nav-items {
        background: var(--bgbody1);
        flex-direction: column;
    }

    .nav .toggle-dropper {
        display: initial;
    }

    main {
        display: flex;
        flex-direction: column;
        background: var(--bgbody1);
    }

    main .site-content {
        display: flex;
        flex-direction: column;
    }

    .img {
        position: center;
    }

    main .gallerybox {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

}